openapi: 3.1.0

info:
  title: Certificate registry API
  version: "1.0.0"
  summary: Personal X.509 certificate registry protected by an encrypted application token.
  description: |
    REST API of the oidc-pkce-jwe-demo study project.

    Authentication is handled by Google via OpenID Connect. After a successful login the
    application issues its own encrypted token (JWE) and stores it in an HttpOnly cookie.
    This API does not accept Google tokens.

    Certificates are owned data: a user can only access their own records. A request for
    another user's certificate returns 404, not 403 — see ADR-0006.

    Certificate authorities and key usages are shared lookup data, readable by any
    authenticated user.

    The application does not issue, sign or revoke certificates. Validity is evaluated
    solely against the certificate's validity period; revocation and trust chain are
    not verified.
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://monet.super-web.cz/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Identity
    description: Information about the authenticated user.
  - name: Certificates
    description: Certificates owned by the authenticated user.
  - name: Registry
    description: Shared lookup data.

security:
  - sessionToken: []

paths:

  /me:
    get:
      tags: [Identity]
      summary: Get the authenticated user's profile
      operationId: getCurrentUser
      responses:
        "200":
          description: Profile of the authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /certificates:
    get:
      tags: [Certificates]
      summary: List the authenticated user's certificates
      operationId: listCertificates
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: status
          in: query
          required: false
          description: Filter by current validity status.
          schema:
            $ref: "#/components/schemas/ValidityStatus"
      responses:
        "200":
          description: Paginated list of certificates.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CertificateSummary"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags: [Certificates]
      summary: Add a certificate to the registry
      operationId: createCertificate
      description: |
        Accepts the public part of an X.509 certificate in PEM format as text. The
        application parses it, stores the extracted attributes, links the issuing
        authority and key usages, and records an initial validity check.

        Input containing a private key is rejected and is not stored or logged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pem]
              properties:
                pem:
                  type: string
                  description: PEM-encoded X.509 certificate, public part only.
                  maxLength: 16384
            example:
              pem: "-----BEGIN CERTIFICATE-----\nMIIDdzCCAl+gAwIBAgIE...\n-----END CERTIFICATE-----\n"
      responses:
        "201":
          description: Certificate stored.
          headers:
            Location:
              description: URL of the created certificate.
              schema:
                type: string
                format: uri-reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: The user has already registered this certificate.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "500":
          $ref: "#/components/responses/InternalError"

  /certificates/{certificateId}:
    parameters:
      - $ref: "#/components/parameters/CertificateId"
    get:
      tags: [Certificates]
      summary: Get certificate detail
      operationId: getCertificate
      description: |
        Returns the certificate including its issuing authority, key usages and the
        full history of validity checks.
      responses:
        "200":
          description: Certificate detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /certificates/{certificateId}/checks:
    parameters:
      - $ref: "#/components/parameters/CertificateId"
    post:
      tags: [Certificates]
      summary: Run a validity check
      operationId: createCertificateCheck
      description: |
        Evaluates the certificate against the current time and appends the outcome to its
        check history. The result may differ from earlier checks because validity depends
        on when the check was performed.
      responses:
        "201":
          description: Check performed and recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateCheck"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /authorities:
    get:
      tags: [Registry]
      summary: List known certificate authorities
      operationId: listAuthorities
      description: |
        Shared lookup data. Authorities are created automatically when a certificate
        issued by a previously unknown authority is registered, and are visible to all
        authenticated users.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated list of authorities.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CertificateAuthority"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

components:

  securitySchemes:
    sessionToken:
      type: apiKey
      in: cookie
      name: app_token
      description: |
        Encrypted application token (JWE) issued by this application after a successful
        OpenID Connect login. The cookie is HttpOnly, Secure and SameSite=Lax, so it
        cannot be set by client-side code and is sent automatically by the browser.

        Log in at `/login` before calling this API from the browser.

  parameters:
    CertificateId:
      name: certificateId
      in: path
      required: true
      description: Identifier of a certificate owned by the authenticated user.
      schema:
        type: integer
        format: int64
        minimum: 1
      example: 42

    Page:
      name: page
      in: query
      required: false
      description: Page number, starting at 1.
      schema:
        type: integer
        minimum: 1
        default: 1

    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    BadRequest:
      description: The request was malformed.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Unauthorized:
      description: |
        The application token is missing, expired or could not be decrypted. Returned
        before the existence of any requested record is evaluated.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: "https://monet.super-web.cz/problems/unauthorized"
            title: "Authentication required"
            status: 401
            detail: "Session token is missing or expired."
            instance: "/api/v1/certificates"

    NotFound:
      description: |
        The record does not exist, or belongs to another user. These two cases are
        deliberately indistinguishable — see ADR-0006.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    ValidationFailed:
      description: The input could not be parsed as an X.509 certificate.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: "https://monet.super-web.cz/problems/validation-failed"
            title: "Validation failed"
            status: 422
            detail: "The supplied text is not a valid PEM-encoded certificate."
            instance: "/api/v1/certificates"

    InternalError:
      description: |
        An unexpected error occurred. The response carries a correlation identifier only;
        details are written to the application log.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:

    Problem:
      type: object
      description: Error representation following RFC 7807.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: Identifier of the problem type.
        title:
          type: string
          description: Short, human-readable summary of the problem type.
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri-reference
          description: Path of the request that produced the problem.
        correlationId:
          type: string
          description: Identifier for locating the matching entry in the application log.

    User:
      type: object
      required: [id, email, createdAt]
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        displayName:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: [string, "null"]
          format: date-time
      example:
        id: 7
        email: "jan.novak@example.com"
        displayName: "Jan Novák"
        createdAt: "2026-08-10T09:14:22Z"
        lastLoginAt: "2026-08-16T07:02:41Z"

    ValidityStatus:
      type: string
      description: |
        Validity evaluated against the certificate's validity period only. Revocation and
        trust chain are not verified.
      enum: [valid, not_yet_valid, expired]

    CertificateSummary:
      type: object
      required: [id, commonName, serialNumber, validFrom, validTo, status]
      properties:
        id:
          type: integer
          format: int64
        commonName:
          type: string
          description: Common name of the subject, for display.
        serialNumber:
          type: string
          description: Serial number in hexadecimal.
        validFrom:
          type: string
          format: date-time
        validTo:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/ValidityStatus"
        authority:
          $ref: "#/components/schemas/CertificateAuthority"

    Certificate:
      allOf:
        - $ref: "#/components/schemas/CertificateSummary"
        - type: object
          required: [subjectDn, fingerprintSha256, createdAt]
          properties:
            subjectDn:
              type: string
              description: Distinguished name of the subject.
            fingerprintSha256:
              type: string
              pattern: "^[0-9a-f]{64}$"
              description: SHA-256 fingerprint in lowercase hexadecimal.
            signatureAlgorithm:
              type: string
            publicKeyAlgorithm:
              type: string
            publicKeyBits:
              type: integer
            keyUsages:
              type: array
              items:
                $ref: "#/components/schemas/KeyUsage"
            createdAt:
              type: string
              format: date-time

    CertificateDetail:
      allOf:
        - $ref: "#/components/schemas/Certificate"
        - type: object
          properties:
            checks:
              type: array
              description: Validity check history, most recent first.
              items:
                $ref: "#/components/schemas/CertificateCheck"

    CertificateAuthority:
      type: object
      required: [id, commonName, subjectDn]
      properties:
        id:
          type: integer
          format: int64
        commonName:
          type: string
        subjectDn:
          type: string
      example:
        id: 3
        commonName: "PostSignum Qualified CA 4"
        subjectDn: "CN=PostSignum Qualified CA 4, O=Česká pošta, s.p., C=CZ"

    KeyUsage:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: Technical key usage code as defined by X.509.
        label:
          type: string
          description: Human-readable description.
      example:
        code: "digitalSignature"
        label: "Digital signature"

    CertificateCheck:
      type: object
      required: [id, checkedAt, result]
      properties:
        id:
          type: integer
          format: int64
        checkedAt:
          type: string
          format: date-time
        result:
          $ref: "#/components/schemas/ValidityStatus"
        detail:
          type: [string, "null"]
          description: Supplementary note, for example the number of days until expiry.
      example:
        id: 118
        checkedAt: "2026-08-16T07:03:10Z"
        result: "valid"
        detail: "Expires in 214 days."

    PaginationMeta:
      type: object
      required: [page, perPage, total]
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
          description: Total number of items available.
      example:
        page: 1
        perPage: 20
        total: 3
